<h1>
  {{title}}
</h1>
<div class="col-lg-12">
	<div class="row between-xs">
       <select name="currentPrayer" (change)="handleChange($event.target.value)">
  			<option value="">--SELECT</option>
  			<option *ngFor="let prayer of prayers" [value]="prayer.title">{{prayer.title}}</option>
  		</select>
       
		 <div class="row">
   			<div class="col-lg-6">
   				<h2>English</h2>
   					<div *ngIf="selectedPrayer">{{selectedPrayer.english}}</div>
    
   			</div>
   			<div class="col-lg-6">
   				<h2>Malayalam</h2>
   					<div *ngIf="selectedPrayer">{{selectedPrayer.malayalam}}</div>

   			</div>
</div>
<div class="col-lg-12">
<app-newprayer (createPrayer)="onAddPrayer($event)"></app-newprayer>
</div>
