<p class="col-lg-12">
  {{title}}
</p>
<div class="col-lg-12">Prayer Title : <input type="text" [(ngModel)]="prayerTitle" placeholder="Title.." /></div>
<div class="col-lg-12"><b>English</b>: <textarea placeholder="English text.." [(ngModel)]="englishText"></textarea></div>
<div class="col-lg-12"><b>Malayalam</b>: <textarea placeholder="Malayalam..." [(ngModel)]="malayalamText"></textarea></div>
<input class="btn btn-default" type="button" value="Add" (click)="addPrayer()"/>
